.action-button-container {
    font-size: 15px;

    .mat-icon {
        font-size: 16px;
        height: unset;
        width: unset;
        position: relative;
        top: 1px;
        left: 2px;
    }
}
